@charset "UTF-8";
/* マップ型変数を用いれbreakpointを設定*/
header {
  background-image: url(https://images.pexels.com/photos/361184/asparagus-steak-veal-steak-veal-361184.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  header .span {
    display: none; }
    header .span .border {
      display: none; }
      @media screen and (max-width: 414px) {
        header .span .border {
          border-top: 2px solid #000000;
          display: block;
          width: 8%;
          padding-bottom: 9px;
          border-width: 3px; } }
    @media screen and (max-width: 414px) {
      header .span .border1 {
        transform: rotate(45deg);
        position: fixed;
        top: 31px;
        right: 65px;
        transition: 1s; } }
    @media screen and (max-width: 414px) {
      header .span .border2 {
        opacity: 0; } }
    @media screen and (max-width: 414px) {
      header .span .border3 {
        transform: rotate(-45deg);
        position: fixed;
        right: 60px;
        transition: 1s; } }
    @media screen and (max-width: 414px) {
      header .span {
        display: block;
        position: fixed;
        z-index: 4;
        width: 400px;
        top: 20px;
        left: 320px; } }
  header ul.nav-menu {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    height: 80px;
    align-items: center;
    font-family: 'Snell Roundhand',sans-serif;
    position: fixed;
    z-index: 2;
    width: 100%;
    background: rgba(255, 255, 255, 0.7); }
    @media screen and (max-width: 414px) {
      header ul.nav-menu {
        display: block;
        text-align: center;
        height: 100%;
        position: fixed;
        background: rgba(255, 255, 255, 0.7);
        right: -100%; }
        header ul.nav-menu.active {
          right: 0%;
          transition: 2s; }
        header ul.nav-menu.not-active {
          right: -100%;
          transition: 2s; }
        header ul.nav-menu li {
          font-size: 45px;
          padding-top: 60px; } }
    header ul.nav-menu a {
      text-decoration: none;
      color: black; }
  @media screen and (max-width: 414px) {
    header {
      background-size: cover; } }
  header h1 {
    font-size: 60px;
    color: white;
    font-family: 'Snell Roundhand',sans-serif;
    text-align: center;
    line-height: 800px;
    letter-spacing: 10px; }
    @media screen and (max-width: 768px) {
      header h1 {
        line-height: 100px;
        font-size: 45px;
        padding-top: 250px; } }

#concept {
  border-top: 60px solid;
  background-image: url(https://images.pexels.com/photos/616358/pexels-photo-616358.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  height: 840px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #concept .concept {
    padding-top: 200px;
    text-align: center;
    padding-top: 200px; }
    #concept .concept .on_large_font {
      font-size: 40px; }
      @media screen and (max-width: 768px) {
        #concept .concept .on_large_font {
          font-size: 21px; } }
      #concept .concept .on_large_font .large_font {
        font-size: 80px;
        color: #c33716; }
        @media screen and (max-width: 768px) {
          #concept .concept .on_large_font .large_font {
            font-size: 55px;
            display: inline-block;
            padding-top: 40px; } }
    #concept .concept .concept_letter {
      text-align: right;
      font-size: 30px;
      padding-top: 60px;
      letter-spacing: 15px;
      font-family: serif;
      line-height: 70px; }
      @media screen and (max-width: 768px) {
        #concept .concept .concept_letter {
          text-align: center;
          font-size: 22px;
          line-height: 60px;
          padding-top: 70px;
          padding-right: 10px;
          padding-left: 10px; } }
  @media screen and (max-width: 768px) {
    #concept {
      height: 1200px; } }

.font-black {
  background: black;
  color: white;
  height: 1000px;
  text-align: center;
  line-height: 40px;
  padding-top: 200px;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .font-black {
      height: 1500px;
      padding-top: 140px; } }
  .font-black h2 {
    font-size: 50px; }
    @media screen and (max-width: 768px) {
      .font-black h2 {
        line-height: 70px;
        font-size: 40px;
        padding-right: 10px;
        padding-left: 10px; } }
    .font-black h2 span {
      color: green;
      font-size: 60px; }
  .font-black p {
    padding-top: 100px;
    line-height: 80px;
    font-size: 30px;
    font-family: 'klee',sans-serif; }
    @media screen and (max-width: 768px) {
      .font-black p {
        line-height: 70px;
        padding-right: 10px;
        padding-left: 10px; } }
  .font-black img {
    width: 50%;
    height: 220px;
    display: block;
    float: left;
    padding-top: 50px; }

section#menu .menu {
  background: white;
  height: 1100px; }
  @media screen and (max-width: 414px) {
    section#menu .menu {
      height: 1450px; } }
  @media screen and (max-width: 768px) {
    section#menu .menu {
      height: 1750px; } }
  section#menu .menu .on_large_font {
    font-size: 40px;
    padding-left: 43%;
    padding-top: 270px; }
    @media screen and (max-width: 768px) {
      section#menu .menu .on_large_font {
        padding-left: 0;
        text-align: center;
        padding-top: 150px;
        font-size: 21px; } }
    section#menu .menu .on_large_font .large_font {
      font-size: 80px;
      font-family: serif;
      color: #ecb630; }
      @media screen and (max-width: 768px) {
        section#menu .menu .on_large_font .large_font {
          font-size: 70px; } }
  section#menu .menu .menu3 {
    padding-top: 60px;
    font-family: 'Snell Roundhand',sans-serif;
    font-size: 40px; }
    section#menu .menu .menu3 .morning {
      background-image: url(https://images.pexels.com/photos/1477851/pexels-photo-1477851.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
      background-repeat: no-repeat;
      width: 30%;
      height: 287px;
      background-size: contain;
      position: relative;
      top: 80px;
      left: 70px;
      float: left;
      margin-right: 30px;
      transition: 1s; }
      @media screen and (max-width: 768px) {
        section#menu .menu .menu3 .morning {
          width: 80%;
          float: none;
          margin: 0 auto;
          left: 0;
          padding-top: 50px;
          margin-right: 0; } }
      @media screen and (max-width: 414px) {
        section#menu .menu .menu3 .morning {
          width: 100%;
          float: none;
          margin: 0 auto;
          left: 0;
          margin-right: 0; } }
    section#menu .menu .menu3 .morning:hover {
      transform: scale(1.05);
      transition: 1s; }
      @media screen and (max-width: 768px) {
        section#menu .menu .menu3 .morning:hover {
          transform: none; } }
    section#menu .menu .menu3 .lunch {
      background-image: url(https://images.pexels.com/photos/461326/pexels-photo-461326.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
      background-repeat: no-repeat;
      width: 30%;
      height: 287px;
      background-size: contain;
      position: relative;
      top: 80px;
      left: 70px;
      float: left;
      margin-right: 30px;
      color: magenta;
      overflow: hidden;
      transition: 1s; }
      @media screen and (max-width: 768px) {
        section#menu .menu .menu3 .lunch {
          width: 80%;
          float: none;
          margin: 0 auto;
          left: 0;
          margin-right: 0;
          margin-top: 50px;
          padding-top: 50px; } }
      @media screen and (max-width: 414px) {
        section#menu .menu .menu3 .lunch {
          width: 100%;
          float: none;
          margin: 0 auto;
          left: 0;
          margin-right: 0; } }
    section#menu .menu .menu3 .lunch:hover {
      transform: scale(1.05);
      transition: 1s; }
      @media screen and (max-width: 768px) {
        section#menu .menu .menu3 .lunch:hover {
          transform: none; } }
    section#menu .menu .menu3 .dinner {
      background-image: url(https://images.pexels.com/photos/410648/pexels-photo-410648.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
      background-repeat: no-repeat;
      width: 30%;
      height: 287px;
      background-size: contain;
      position: relative;
      top: 80px;
      left: 70px;
      float: left;
      color: #bd95e4;
      transition: 1s; }
      @media screen and (max-width: 768px) {
        section#menu .menu .menu3 .dinner {
          width: 80%;
          float: none;
          margin: 0 auto;
          left: 0;
          margin-right: 0;
          padding-top: 91px;
          margin-top: 50px; } }
      @media screen and (max-width: 414px) {
        section#menu .menu .menu3 .dinner {
          width: 100%;
          float: none;
          margin: 0 auto;
          left: 0;
          margin-right: 0;
          padding-top: 25px; } }
    section#menu .menu .menu3 .dinner:hover {
      transform: scale(1.05);
      transition: 1s; }
      @media screen and (max-width: 768px) {
        section#menu .menu .menu3 .dinner:hover {
          transform: none; } }

section#info .info {
  border-top: 60px solid;
  height: 840px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(https://images.pexels.com/photos/1036857/pexels-photo-1036857.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500); }
  @media screen and (max-width: 768px) {
    section#info .info {
      height: 1260px; } }
  section#info .info .on_large_font {
    font-size: 40px;
    padding-left: 8%;
    padding-top: 130px;
    color: white; }
    @media screen and (max-width: 768px) {
      section#info .info .on_large_font {
        padding-left: 0;
        text-align: center;
        padding-top: 120px;
        font-size: 21px; } }
    section#info .info .on_large_font .large_font {
      font-size: 80px;
      color: #65de1e;
      font-family: 'Times New Roman',sans-serif; }
      @media screen and (max-width: 768px) {
        section#info .info .on_large_font .large_font {
          font-size: 55px; } }
  section#info .info table {
    font-size: 35px;
    height: 840px;
    position: absolute;
    top: 4060px;
    left: 750px;
    font-family: 'Kaiti SC',sans-serif;
    background: #00000080;
    color: white;
    opacity: 0.85;
    width: 48%; }
    @media screen and (max-width: 768px) {
      section#info .info table {
        left: 0;
        top: 5850px;
        font-size: 35px;
        text-align: center;
        display: block;
        width: 100%; }
        section#info .info table th, section#info .info table td, section#info .info table tr {
          display: block;
          margin: 0 auto; }
        section#info .info table td {
          padding-bottom: 60px; }
        section#info .info table th {
          padding-bottom: 20px; }
        section#info .info table tbody {
          width: 100%;
          display: block; } }
    @media screen and (max-width: 414px) {
      section#info .info table {
        left: 0;
        top: 5850px;
        font-size: 35px;
        text-align: center;
        display: block;
        width: 100%; }
        section#info .info table th, section#info .info table td, section#info .info table tr {
          display: block;
          margin: 0 auto; }
        section#info .info table td {
          padding-bottom: 60px; }
        section#info .info table th {
          padding-bottom: 20px; }
        section#info .info table tbody {
          width: 100%;
          display: block; } }

.font-black2 {
  background: black;
  color: white;
  height: 1000px;
  text-align: center;
  padding-top: 200px;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 80px;
  font-family: 'Kaiti SC',sans-serif; }
  @media screen and (max-width: 414px) {
    .font-black2 {
      padding-top: 100px;
      height: 1500px; } }
  .font-black2 h2 {
    font-size: 70px;
    padding-bottom: 42px; }
    @media screen and (max-width: 768px) {
      .font-black2 h2 {
        font-size: 50px;
        padding-right: 10px;
        padding-left: 10px; } }
    .font-black2 h2 span {
      color: red;
      font-size: 70px; }
  @media screen and (max-width: 768px) {
    .font-black2 p {
      padding-right: 10px;
      padding-left: 10px; } }

section#careers .careers {
  background-image: url(https://images.pexels.com/photos/580613/pexels-photo-580613.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 940px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-top: 60px solid; }
  @media screen and (max-width: 768px) {
    section#careers .careers {
      height: 1760px; } }
  section#careers .careers .on_large_font {
    font-size: 40px;
    padding-left: 68%;
    padding-top: 130px; }
    @media screen and (max-width: 768px) {
      section#careers .careers .on_large_font {
        padding-left: 0;
        text-align: center;
        font-size: 21px; } }
    section#careers .careers .on_large_font .large_font {
      font-size: 55px;
      color: #de1ed5; }
  section#careers .careers .table {
    color: white;
    font-size: 35px;
    width: 60%;
    height: 940px;
    font-family: 'Kaiti SC',sans-serif;
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 5960px; }
    @media screen and (max-width: 768px) {
      section#careers .careers .table {
        width: 100%;
        top: 8200px;
        font-size: 28px; }
        section#careers .careers .table th {
          display: block;
          padding-bottom: 40px; }
        section#careers .careers .table td {
          display: block;
          text-align: center;
          padding-bottom: 60px; } }
    @media screen and (max-width: 414px) {
      section#careers .careers .table {
        width: 100%;
        top: 8690px;
        font-size: 28px; }
        section#careers .careers .table th {
          display: block;
          padding-bottom: 40px; }
        section#careers .careers .table td {
          display: block;
          text-align: center;
          padding-bottom: 60px; } }

footer {
  height: 40px;
  background: black;
  color: white;
  text-align: center;
  line-height: 50px;
  width: 100%;
  height: 100%; }
